body {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}
html {
  overflow-y: scroll;
}
.dark-mode {
  background-color: #121212;
  color: #bdc1c6;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #1f1f1f;
    color: #bdc1c6;
    fill: #bdc1c6;
  }
}
h1 {
  margin-top: 69px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 900px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  border-radius: 30px;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: white;
  fill: white;
}
a {
  font-size: 40px;
  color: var(--fg);
  text-decoration: none;
  flex: 1;
}
.login {
  margin: 0;
  font-size: 16px;
}
.loginbody {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(120deg, #2980b9, #8e44ad);
}
input {
  border-radius: 25px;
  background-color: #bdc1c6;
  color: #121212;
  width: 150px;
  border: none;
}
.navbar a:hover {
  color: navy;
  fill: navy;
}
input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:hover {
}
input[type="submit"] {
  background-image: linear-gradient(
    to right,
    #614385 0%,
    #516395 51%,
    #614385 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #614385;
  display: block;
  margin: auto;
  width: auto;
}
input[type="submit"]:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
.top {
  margin-top: 100px;
}
.contact {
  font-size: 20px;
  text-decoration: underline;
}
svg {
  fill: var(--fg);
  vertical-align: middle;
}
video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #525252;
}
::-webkit-scrollbar-thumb:hover {
  background: darkgray;
}
